
		  <div class="list">
        
        <label class="item item-input">
            <span class="input-label">Frec. de actualización:</span>
            <label ng-bind="::vm.agente.frecuenciaActualizacion"></label>
        </label>
        <label class="item item-input">
            <span class="input-label">Memoria Total:</span>
            <label ng-bind="::vm.agente.est_memoria_total"></label>
        </label>
        <label class="item item-input">
            <span class="input-label">Memoria Usada:</span>
            <label ng-bind="::vm.agente.est_memoria_usada"></label>
        </label>
        <label class="item item-input">
            <span class="input-label">Memoria Libre:</span>
            <label ng-bind="::vm.agente.est_memoria_libre"></label>
        </label>
        <label class="item item-input">
            <span class="input-label">Espacio Total de Disco:</span>
            <label ng-bind="::vm.agente.est_disco_total"></label>
        </label>
        <label class="item item-input">
            <span class="input-label">Espacio de Disco Usado:</span>
            <label ng-bind="::vm.agente.est_disco_usado"></label>
        </label>
        <label class="item item-input">
            <span class="input-label">Espacio de Disco Libre:</span>
            <label ng-bind="::vm.agente.est_disco_libre"></label>
        </label>
        <label class="item item-input">
            <span class="input-label">CPU:</span>
            <label ng-bind="::vm.agente.est_cpu"></label>
        </label>
			  
			</div>